Repository mlisthenewcool/de_electricity_meteo: changes, and which pre-commit hooks are due for each by the changed paths.
All: ruff-check, ruff-format, ty, pytest

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: ruff-check
        name: ruff-check
        entry: uv run ruff check
        args: [ --fix, --force-exclude ]
        language: system
        types: [ python ]

      - id: ruff-format
        name: ruff-format
        entry: uv run ruff format
        language: system
        types: [ python ]

      - id: ty
        name: ty
        entry: uv run ty check
        language: system
        types: [ python ]

        # hack: 'exclude' in pyproject.toml is somehow not read
        # better than 'pass_filenames: false' for performance
        # preventing pre-commit to check the whole project everytime
        files: ^(src|tests)/

      - id: pytest
        name: pytest
        entry: uv run pytest
        language: system
        pass_filenames: false    # to run every test, even if files aren't modified
        files: \.(py|yaml|json)$ # run the hook only if any .(py|yaml|json) changed
        #stages: [ manual, push ] # if tests are taking too much time



#  - repo: https://github.com/astral-sh/ruff-pre-commit
#    rev: v0.14.10
#    hooks:
#      # Run the linter
#      - id: ruff-check
#        args: [--fix]
#        files: ^src/
#      # Run the formatter
#      - id: ruff-format
#        args: []
#        files: ^src/
#
#  # https://github.com/astral-sh/ty/issues/269
#  # to add "ty" to pre-commit

Update documentation on dev workflow.
  README.md
Due: none

Update README for data documentation.
  README.md
  pyproject.toml
  src/de_electricity_meteo/electricity/odre_temps_reel.py
  uv.lock
Due: ruff-check, ruff-format, ty, pytest

Update dependencies.
  pyproject.toml
  uv.lock
Due: none

Exploration on MeteoFrance's dataset: informations sur les stations.
  notebooks/03_meteo_france_info_stations.py
  src/de_electricity_meteo/config/paths.py
  src/de_electricity_meteo/geography/contours_iris.py
  src/de_electricity_meteo/meteo/exploration.py
  src/de_electricity_meteo/meteo/handle_api_params_example.py
Due: ruff-check, ruff-format, ty, pytest

Exploration on MeteoFrance's datasets: observations & climatologie.
  README.md
  notebooks/03_meteo_france_info_stations.py
  notebooks/04_meteo_france_observations.py
  notebooks/05_meteo_france_climatologie.py
  uv.lock
Due: ruff-check, ruff-format, pytest

Update dependencies and add pytest-asyncio.
  .gitignore
  README.md
  pyproject.toml
  uv.lock
Due: none

Update MeteoFrance data exploration. Add documentation to enums. Update downloader and add tests to it.
  notebooks/04_meteo_france_observations.py
  notebooks/05_meteo_france_climatologie.py
  src/de_electricity_meteo/config/settings.py
  src/de_electricity_meteo/downloader.py
  src/de_electricity_meteo/enums.py
  src/de_electricity_meteo/exceptions.py
  src/de_electricity_meteo/logger.py
  src/de_electricity_meteo/meteo/climatologie.py
  src/de_electricity_meteo/meteo/exploration.py
  tests/test_downloader.py
Due: ruff-check, ruff-format, ty, pytest

Add loguru to handle logs and improve logging a lot.
  pyproject.toml
  src/de_electricity_meteo/config/logger.yaml
  src/de_electricity_meteo/config/paths.py
  src/de_electricity_meteo/config/settings.py
  src/de_electricity_meteo/downloader.py
  src/de_electricity_meteo/enums.py
  src/de_electricity_meteo/logger.py
  tests/test_downloader.py
  tests/test_logger.py
  uv.lock
Due: ruff-check, ruff-format, ty, pytest

Refactor code architecture
  src/de_electricity_meteo/core/__init__.py
  src/de_electricity_meteo/core/downloader.py
  src/de_electricity_meteo/core/enums.py
  src/de_electricity_meteo/core/exceptions.py
  src/de_electricity_meteo/core/logger.py
  src/de_electricity_meteo/electricity/odre_eco2mix.py
  src/de_electricity_meteo/electricity/odre_registre.py
  src/de_electricity_meteo/geography/iris.py
  src/de_electricity_meteo/meteo/handle_api_params_example.py
  src/de_electricity_meteo/meteo/stations.py
  tests/test_downloader.py
  tests/test_logger.py
Due: ruff-check, ruff-format, ty, pytest

Update logging with tests.
  src/de_electricity_meteo/core/logger.py
  tests/test_logger.py
  uv.lock
Due: ruff-check, ruff-format, ty, pytest

Simplified tests for logger.
  tests/test_logger.py
Due: ruff-check, ruff-format, ty, pytest

Logging improvement.
  notebooks/02_contours_iris.py
  src/de_electricity_meteo/core/logger.py
  src/de_electricity_meteo/geography/iris.py
  tests/test_logger.py
Due: ruff-check, ruff-format, ty, pytest
